<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crayfish.yunbook"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/yunlogo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name="com.crayfish.yunbook.MainActivity"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustUnspecified|adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.crayfish.yunbook.AccountDetailsActivity"></activity>
        
        <!-- authorities:授权;permission:防止第三方取我的数据 -->
        <provider
            android:name=".provider.YunBookContentProvider"
            android:authorities="com.crayfish.yunbook.accountbookprovider"
            android:permission="com.crayfish.yunbook.accountbookprovider" >
        </provider>
        <!-- <provider
            android:name=".provider.LabelTypeContentProvider"
            android:authorities="com.crayfish.yunbook.labeltypeprovider"
            android:permission="com.crayfish.yunbook.labeltypeprovider" >
        </provider> -->
        
    </application>

</manifest>
